<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>project_mesher (base).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>project_mesher (demo).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>project_mesher (test).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>project_mesher (villa).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>project_mesher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>project_mesher_gl3 (v100).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>project_mesher_gl3 (villa).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>project_mesher_nomojing (villa) .xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8039D3111CFC12F100AD482B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80497F741C214C1F002D64DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>804F6ADE1C8958A000D7AB22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>805031251CAE573600FFDE13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8067D8531C23DC1800B401A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8067D8C91C24351F00B401A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8073DD1A1CB3C1C700404DA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5BD80811BCB9CD3003C40D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5BD809A1BCB9CD3003C40D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5BD80A51BCB9CD3003C40D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
